<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>GBox Research</string>

    <key>NSLocalNetworkUsageDescription</key>
    <string>GBox Research 需要區域網路連線至個人測試電腦。</string>
</dict>
</plist>
